.container{
    display: flex;
    width: 1024px;
    margin: auto;
}
.row{
    padding: 10px 10px;
}
img{
    width: 500px;
}
.price{
    display: flex;
    text-align: center;
}
.color,
.storage,
.network{
    font-size: 18px;
    padding: 10px 0;
}
select{
    width: 180px;
    font-size: 16px;
}